---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonNotesGif" src="/blog.webp" />
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        {
            allPosts.map((cardPost) => (
                <Card
                    url={`/posts/${cardPost.slug}/`}
                    image={cardPost.data.image.url}
                    title={cardPost.data.title}
                    date={cardPost.data.date}
                />
            ))
        }
    </ul>
</Layout>
