---
import { Image } from 'astro:assets';
interface Props {
    href: string;
    image: string;
    title: string;
    body: string;
    badges: Array<string>;
}

const { href, image, title, body, badges } = Astro.props;
let hasBadges = badges[0] !== "" || badges === null
---
<li class="link-card">
    <a href={href}>
        <div class="img">
            <img width="226" height="127" src={image} class="card-img" alt="ProjectImage">
            <ul class="img-badges">
                {hasBadges ? badges.map((badge) => (
                    <li class="border"><img class="badge" width="24" height="24" src={badge}/></li>
                )) : <p></p>}
            </div>
        </div>
	<h3 class="card-title">
	    {title}
	</h3>
	<p class="card-txt">
	    {body}
        </p>
    </a>
</li>
<style>
    .link-card {
        list-style: none;
        display: flex;
        background-size: 400%;
        padding: 20px;
    }

    .link-card > a {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        border-radius: 8px;
        color: #fdebf3;
    }

    .img {
        position: relative;
        display: inline;
        text-align: center;
    }

    img {
        border-radius: 16px;
        background-color: white;
    }

    .img-badges {
        position: absolute;
        bottom: 7px;
        right: 4px;
        list-style: none;
    }

    .border {
        display: inline-block;
        padding: 2px;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        border: 2px solid black;
        background-color: lightskyblue;
    }

    .badge {
        padding: 2px;
    }

    h3 {
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: normal;
        text-align: center;
    }

    p {
        font-size: 1em;
        line-height: 1.5;
        text-indent: 0;
        text-align: center;
        margin: 0.5rem 0 0;
    }

    .link-card:hover {
        transform: scale(1.05);
    }
</style>
